<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="./static/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="./static/dist/css/custom-2.css" rel="stylesheet" />
</head>
<header>
    <div class="icon-name"><img src="./static/image/cctv.png" alt="" height="50%" />
        <div>HỆ THỐNG <br> NHẬN DIỆN ĐỐI TƯỢNG</div>
    </div>
    <nav><span><a href="./index">TRANG CHỦ</a></span><span><a href="./object">QUẢN LÝ ĐỐI TƯỢNG</a></span><span><a
                href="./camera">QUẢN LÝ CAMERA</a></span><span class="active"><a href="./account-management">QUẢN LÝ
                TÀI&nbsp;KHOẢN</a></span></nav>
</header>

<body>


    <main>
        <div class="container">
            <div class="title-page">QUẢN LÝ TÀI KHOẢN </div>
            <div class="time">14:11:12 - 14/12/2022</div>
            <div class="row-p">
                <div class="row">
                    <div class="list-object-manage">


                        <div class="result-area">
                            <div class="table-header" style="padding: 1.5vh 1vw 1.5vh 5vw">
                                <div class="result-b">ID</div>
                                <div class="result-b">Username</div>
                                <div class="result-b">Password</div>
                                <div class="result-b">Is admin?</div>
                            </div>
                            <div class="container-table">
                                <div class="table-result" style="overflow-x: hidden; height: 55vh;">
                                    {% for user in users%}
                                    <div class="result-box" id="{{user[0]}}" name="{{user[1]}}"
                                        password="{{user[2]*'*'}}" isadmin="{{'yes' if user[3]=='1' else 'no'}}"
                                        onclick="changeDetail('{{user[0]}}','{{user[1]}}', '{{user[2]*'*'}}', '{{user[3]}}')">
                                        <div class="result-b result-id">{{user[0]}}</div>
                                        <div class="result-b">
                                            {{user[1]}}
                                        </div>
                                        <div class="result-b">
                                            {{user[2]*'*'}}
                                        </div>
                                        <div class="result-b">{{'admin' if user[3]=='1' else 'user'}}</div>
                                    </div>
                                    {% endfor %}


                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="notification-area">
                        <div class="noti-de-child">
                            <div class="title-noti-detect">
                                <div><i class="fa fa-info-circle"></i></div>
                                <div>Chi tiết tài khoản</div>
                            </div>
                        </div>
                        <div class="object-detail">

                            <div class="combo-2">


                                <div class="general-info">
                                    <div class="name-infor" id="name-infor"></div>
                                    <div class="ID" id="user-id">ID: </div>
                                </div>
                            </div>
                            <div class="combo-3">
                                <div class="date-of-birth" id="password">Password: ********** <i class="fa fa-eye"></i>
                                </div>
                                <div class="info-1">NewPassword: <input type='password' id="newpass"></div>
                                <div class="info-2">IsAdmin: <input type='checkbox' id="newrole"></div>

                            </div>
                            <div class="combo-4">
                                <button onclick="submitChange()">Sửa</button>
                                <button onclick="submitDelete()">Xóa</button>
                            </div>
                        </div>
                        <div class="cam-list-area">

                            <div class="combo-5">
                                <div class="date-of-birth">Username: <br> <input type="text" id="user-create"></div>
                                <div class="info-1">Password: <br> <input type='password' id="pass-create"></div>
                                <div class="info-2">IsAdmin: <input type='checkbox'  id="role-create"></div>

                            </div>

                        </div>
                        <button class="add-object" onclick="submitCreate()">Thêm tài khoản</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        function changeDetail(a, b, c, d) {
            document.getElementById('name-infor').innerText = b;
            document.getElementById('user-id').innerText = 'ID: ' + a;
            document.getElementById('password').innerText = 'Password: ' + c;

        }
        async function submitChange() 
            {
                var data={
                    name: document.getElementById('name-infor').innerText ,
                    pass: document.getElementById('newpass').value ,
                    role: document.getElementById('newrole').checked 
                }
                console.log(data)
                const response = await fetch('/change-pass', {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify(data)
                })
                return response.json().then(data=> { if ( confirm(data.message) ) {window.location.reload()}});
            }
        async function submitDelete(){
            const response = await fetch('/del-user', {
                    method: 'DELETE',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify({user: document.getElementById('name-infor').innerText})
                })
                return response.json().then(data=> { if ( confirm(data.message) ) {window.location.reload()}});
        }
        async function submitCreate(){
            const response = await fetch('/create-user', {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify({user: document.getElementById('user-create').value,
                                        pass: document.getElementById('pass-create').value,
                                        role: document.getElementById('role-create').checked})
                })
                return response.json().then(data=> { if ( confirm(data.message) ) {window.location.reload()}});
        }
    </script>
    <script src="./static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/dist/js/all.min.js"></script>
</body>
<footer>
    <div class="name-team">NHÓM PHÁT TRIỂN PHẦN MỀM HỌC VIỆN KỸ THUẬT QUÂN SỰ</div>
    <div class="address-team">Địa chỉ: Số 236 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội * Tel: +8443423423
    </div>
    <div class="email-leader">Email: haihongphan@mta.edu.vn</div>
</footer>

</html>