<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="./assets/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="./assets/dist/css/custom-2.css" rel="stylesheet" />
</head>
<header>
    <div class="icon-name"><img src="./assets/image/cctv.png" alt="" height="50%" />
        <div>HỆ THỐNG <br> NHẬN DIỆN ĐỐI TƯỢNG</div>
    </div>
    <nav><span>TRANG CHỦ</span><span class="active">QUẢN LÝ ĐỐI TƯỢNG</span><span>QUẢN LÝ CAMERA</span></nav>
</header>

<body>


    <main>
        <div class="container">
            <div class="title-page">QUẢN LÝ TÀI KHOẢN </div>
            <div class="time">14:11:12 - 14/12/2022</div>
            <div class="row-p">
                <div class="row">
                    <div class="list-object-manage">


                        <div class="result-area">
                            <div class="table-header" style="padding: 1.5vh 1vw 1.5vh 5vw">
                                <div class="result-b">ID</div>
                                <div class="result-b">Username</div>
                                <div class="result-b">Password</div>
                                <div class="result-b">Is admin?</div>
                            </div>
                            <div class="container-table">
                                <div class="table-result" style="overflow-x: hidden; height: 55vh;">
                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" checked disabled></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                    <div class="result-box">
                                        <div class="result-b">24353123</div>
                                        <div class="result-b">
                                            gogigasưqerqwerqwer
                                        </div>
                                        <div class="result-b">
                                            *********************
                                        </div>
                                        <div class="result-b"><input type="checkbox" id="vehicle1" name="vehicle1"
                                                value="Bike"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="notification-area">
                        <div class="noti-de-child">
                            <div class="title-noti-detect">
                                <div><i class="fa fa-info-circle"></i></div>
                                <div>Chi tiết tài khoản</div>
                            </div>
                        </div>
                        <div class="object-detail">

                            <div class="combo-2">
                                

                                <div class="general-info">
                                    <div class="name-infor">gigogas</div>
                                    <div class="ID">ID: 293023423</div>
                                </div>
                            </div>
                            <div class="combo-3">
                                <div class="date-of-birth">Password: ********** <i class="fa fa-eye"></i></div>
                                <div class="info-1">NewPassword: <input type='password'></div>
                                <div class="info-2">IsAdmin: <input type='checkbox'></div>

                            </div>
                            <div class="combo-4">
                                <button>Sửa</button>
                                <button>Xóa</button>
                            </div>
                        </div>
                        <div class="cam-list-area">
                            
                            <div class="combo-5">
                                <div class="date-of-birth">Username: <br> <input type="text"></div>
                                <div class="info-1">Password: <br> <input type='password'></div>
                                <div class="info-2">IsAdmin: <input type='checkbox'></div>

                            </div>

                        </div>
                        <button class="add-object">Thêm tài khoản</button>
                    </div>
                </div>
            </div>


        </div>
    </main>


    <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/dist/js/all.min.js"></script>
</body>
<footer>
    <div class="name-team">NHÓM PHÁT TRIỂN PHẦN MỀM HỌC VIỆN KỸ THUẬT QUÂN SỰ</div>
    <div class="address-team">Địa chỉ: Số 236 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội * Tel: +8443423423
    </div>
    <div class="email-leader">Email: haihongphan@mta.edu.vn</div>
</footer>

</html>