<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="./static/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="./static/dist/css/custom-2.css?v=1" rel="stylesheet" />
</head>
<header>
    <div class="icon-name"><img src="./static/image/cctv.png" alt="" height="50%" />
        <div>HỆ THỐNG <br> NHẬN DIỆN ĐỐI TƯỢNG</div>
    </div>
    <nav><span><a href="./index">TRANG CHỦ</a></span><span><a href="./object">QUẢN LÝ ĐỐI TƯỢNG</a></span><span  class="active"><a href="./camera">QUẢN LÝ CAMERA</a></span></nav>
</header>

<body>


    <main>
        <div class="container">
            <div class="title-page">THÊM LUỒNG CAMERA</div>
            <div class="time">14:11:12 - 14/12/2022</div>
            <div class="row-p">
                <div class="row">
                    <div class="update-object">
                        <div class="finding-area-rtsp">
                            <div>Nhập luồng RTSP: &nbsp;</div>   
                            <input type="text"></input>
                            <button>Check</button>
                        </div>
                        

                        <div class="cam-infor">
                            <div class="cam-img">
                                <img src="./static/image/cam-demo.png" alt="">
                            </div>
                            <div class="main-cam-infor">
                                <div class="main-cam-infor-title">Nhập thông tin camera :</div>
                                <div class="name-cam-insert"><label for="name">Tên camera :</label>
                                <input type="text" name="name" id=""></div>
                                <div class="locate-cam-insert"><label for="locate">Vị trí camera :</label>
                                    <input type="text" name="locate" id=""></div>
                                <textarea name="" id="" cols="20" rows="10"></textarea>
                                <button>Lưu thông tin luồng</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


        </div>
    </main>


    <script src="./static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/dist/js/all.min.js"></script>
</body>
<footer>
    <div class="name-team">NHÓM PHÁT TRIỂN PHẦN MỀM HỌC VIỆN KỸ THUẬT QUÂN SỰ</div>
    <div class="address-team">Địa chỉ: Số 236 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội * Tel: +8443423423
    </div>
    <div class="email-leader">Email: haihongphan@mta.edu.vn</div>
</footer>

</html>