<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="./static/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="./static/dist/css/custom-2.css" rel="stylesheet" />
</head>
<header>
    <div class="icon-name"><img src="./static/image/cctv.png" alt="" height="50%" />
        <div>HỆ THỐNG <br> NHẬN DIỆN ĐỐI TƯỢNG</div>
    </div>
    <nav><span>TRANG CHỦ</span><span class="active">QUẢN LÝ ĐỐI TƯỢNG</span><span>QUẢN LÝ CAMERA</span></nav>
</header>

<body>


    <main>
        <div class="container">
            <div class="title-page">CẬP NHẬT THÔNG TIN ĐỐI TƯỢNG</div>
            <div class="time">14:11:12 - 14/12/2022</div>
            <div class="row-p">
                <div class="row">
                    <div class="update-object">
                        <div class="main-update">
                            <div class="update-image">
                                <div class="main-image">
                                    <img src="./static/image/jisoo.png" alt="" />
                                </div>
                                <div class="list-image-area">
                                    <div class="list-area">
                                        <div class="row-image">
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                        </div>

                                        <div class="row-image">
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="row-image">
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="./static/image/jisoo.png" alt="" />
                                            </div>
                                        </div>
                                    </div>
                                    <button>Thêm ảnh</button>
                                </div>

                            </div>
                            <div class="update-info">
                                <div class="id">ID: 29394394</div>
                                <div class="name-object"><label for="name">Họ và tên: &nbsp;</label>
                                    <input type="text" name="name" id="">
                                </div>
                                <div class="dob-object"><label for="dob">Ngày sinh: &nbsp;</label>
                                    <input type="text" name="dob" id="">
                                </div>
                                <textarea name="Text1" cols="40" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="button-area">
                            <button>Chỉnh sửa</button>
                            <button>Trở lại</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </main>


    <script src="./static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/dist/js/all.min.js"></script>
</body>
<footer>
    <div class="name-team">NHÓM PHÁT TRIỂN PHẦN MỀM HỌC VIỆN KỸ THUẬT QUÂN SỰ</div>
    <div class="address-team">Địa chỉ: Số 236 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội * Tel: +8443423423
    </div>
    <div class="email-leader">Email: haihongphan@mta.edu.vn</div>
</footer>

</html>