<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="./static/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="./static/dist/css/custom-2.css?v=1" rel="stylesheet" />
</head>
<header>
    <div class="icon-name"><img src="./static/image/cctv.png" alt="" height="50%" />
        <div>HỆ THỐNG <br> NHẬN DIỆN ĐỐI TƯỢNG</div>
    </div>
    <nav><span><a href="./index">TRANG CHỦ</a></span><span class="active"><a href="./object">QUẢN LÝ ĐỐI
                TƯỢNG</a></span><span><a href="./camera">QUẢN LÝ CAMERA</a></span><span><a
                href="./account-management">QUẢN LÝ TÀI&nbsp;KHOẢN</a></span></nav>
</header>

<body>


    <main>
        <div class="container">
            <div class="title-page">QUẢN LÝ ĐỐI TƯỢNG</div>
            <div class="time">14:11:12 - 14/12/2022</div>
            <div class="row-p">
                <div class="row">
                    <div class="list-object-manage">
                        <div class="finding-area">
                            <div>Nội dung tìm kiếm &nbsp;</div>
                            <input type="text"></input>
                        </div>
                        <div class="filter-area">

                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                            <button>Tìm kiếm</button>
                        </div>

                        <div class="result-area">
                            <div class="table-header">
                                <div class="header-img">Ảnh</div>
                                <div class="header-general-infor">Thông tin chung</div>
                                <div class="header-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1"
                                        value="Bike"></div>
                            </div>
                            <div class="container-table">
                                <div class="table-result">
                                    {% for person in persons%}
                                    <div class="result-box"
                                        onclick="getDetail('{{person[5]}}','{{person[1]}}' ,'{{person[0]}}', '{{(person[3])}}')">
                                        <div class="result-img"><img src="{{person[5]}}" alt="" /></div>
                                        <div class="result-general-info">
                                            <div class="result-name">{{person[1]}}</div>
                                            <div>ID: {{person[0]}}</div>
                                            <div>Ngày khởi tạo: {{(person[3])}}</div>
                                        </div>
                                        <div class="result-checkbox"><input type="checkbox" id="{{person[0]}}"
                                                onchange="Change('{{person[0]}}')" name="tracking"></div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="notification-area">
                        <div class="noti-de-child">
                            <div class="title-noti-detect">
                                <div><i class="fa fa-info-circle"></i></div>
                                <div>Chi tiết đối tượng</div>
                            </div>
                        </div>
                        <div class="object-detail">

                            <div class="combo-2">
                                <div class="object-img">
                                    <img id="object-img" src="./static/image/jisoo.png" alt="" />
                                </div>

                                <div class="general-info">
                                    <div class="name-infor" id="name-infor">-</div>
                                    <div class="ID" id="ID">ID: </div>
                                </div>
                            </div>
                            <div class="combo-3">
                                <div class="date-of-birth" id="init-time">Ngày khởi tạo: </div>
                                <div class="info-1">Địa chỉ: Bản Nguyên - Lâm Thao - Phú Thọ</div>
                                <div class="info-2">Địa chỉ: Sơn Dương - Lâm Thao - Phú Thọ</div>

                            </div>
                            <div class="combo-4">
                                <button>Sửa</button>
                                <button onclick="submitDelete()" id = 'buttonDelete'>Xóa</button>
                            </div>
                        </div>
                        <div class="cam-list-area" id="cam-list-area">



                        </div>
                        <button class="add-object" type="button" onclick="location.href='/update-object'">Thêm đối tượng</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script>
        function is_recog() {
            fetch('/is-recog', {
                method: 'GET',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer'
            }).then(data => data.json()).then(
                data =>
                    data.message.map((value, key) =>
                        document.getElementById(String(value[0])).checked = value[4] == "1" ? true : false)
            )

        }
        is_recog()
        function Change(i) {
            var data = {
                id: i,
                change: document.getElementById(i).checked
            }
            fetch('/change-status', {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'

                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)

            }).then(data => data.json()).then(data => { if (confirm(data.message)) { window.location.reload() } });

        }
        function getDetail(a, b, c, d) {
            console.log(a, b, c, d)
            document.getElementById('object-img').src = a;
            document.getElementById('name-infor').innerText = b;
            document.getElementById('ID').innerText = 'ID: ' + c;
            document.getElementById('init-time').innerText = 'Ngày khởi tạo: ' + d
            var parse = Range.prototype.createContextualFragment.bind(document.createRange());
            document.getElementById('buttonDelete').replaceWith( parse(`<button onclick="submitDelete(`+c+`)" id = 'buttonDelete'>Xóa</button>`)) 
            var z = getNotification(c);

        }
        function submitDelete(c) {
            fetch('/delete-object', {
                method: 'DELETE',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'

                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({id: c})

            }).then(data => data.json()).then(data => { if (confirm(data.message)) { window.location.reload() } });
        }
        function getNotification(c) {
            fetch('/get-noti-of-object', {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'

                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify({ id: c })
            }).then(data => data.json()).then(data => data.notification).then(data => {
                
                document.getElementById('cam-list-area').innerHTML=''
                data.map((value) => {
                    var code_html = `<div class="card-noti-parent">
    <div class="card-noti">
        <div class="card-info">
            <div class="time-lapse">`+ value.time + `</div>
            <div class="combo-1">
                <div class="score">`+ value.score + `</div>
                <div class="cam-location">`+ value.cam + ` - ` + value.location + `</div>
            </div>
        </div>
    </div>
</div>`
document.getElementById('cam-list-area').innerHTML+= code_html
                })
            }
            )

        }
        function renderNoti(z) {
            console.log(z)
            const parse = Range.prototype.createContextualFragment.bind(document.createRange());
            for (var i in z) {
                console.log(i)

            }
        }
    </script>
    <script src="./static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/dist/js/all.min.js"></script>
</body>
<footer>
    <div class="name-team">NHÓM PHÁT TRIỂN PHẦN MỀM HỌC VIỆN KỸ THUẬT QUÂN SỰ</div>
    <div class="address-team">Địa chỉ: Số 236 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội * Tel: +8443423423
    </div>
    <div class="email-leader">Email: haihongphan@mta.edu.vn</div>
</footer>

</html>