<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="/static/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="/static/dist/css/custom-2.css" rel="stylesheet" />
</head>
<header>
    <div class="icon-name"><img src="/static/image/cctv.png" alt="" height="50%" />
        <div>HỆ THỐNG <br> NHẬN DIỆN ĐỐI TƯỢNG</div>
    </div>
    <nav><span><a href="/index">TRANG CHỦ</a></span><span class="active"><a href="/object">QUẢN LÝ ĐỐI
                TƯỢNG</a></span><span><a href="/camera">QUẢN LÝ CAMERA</a></span><span><a
                href="/account-management">QUẢN LÝ TÀI&nbsp;KHOẢN</a></span></nav>
</header>

<body>


    <main>
        <div class="container">
            <div class="title-page">CẬP NHẬT THÔNG TIN ĐỐI TƯỢNG</div>
            <div class="time">14:11:12 - 14/12/2022</div>
            <div class="row-p">
                <div class="row">
                    <div class="update-object">
                        <div class="main-update">
                            <div class="update-image">
                                <div class="main-image">
                                    {%if main%}
                                    <img src="/{{main}}" alt="" />
                                    {%else%}
                                    <img src="" alt="" />
                                    {%endif%}
                                </div>
                                <div class="list-image-area">
                                    <div class="list-area">
                                        {%if all%}
                                        {%for i in range(rows)%}
                                        <div class="row-image">
                                            <div class="image-object">
                                                <img src="/{{all[i*3+0][0]}}" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="/{{all[i*3+1][0]}}" alt="" />
                                            </div>
                                            <div class="image-object">
                                                <img src="/{{all[i*3+2][0]}}" alt="" />
                                            </div>
                                        </div>
                                        {%endfor%}
                                        
                                        <div class="row-image">
                                            {%for i in range(lastrow)%}
                                            <div class="image-object">
                                                <img src="/{{all[rows*3+i][0]}}" alt="" />
                                            </div>
                                            {%endfor%}
                                        </div>
                                        
                                    {%endif%}
                                    </div>
                                    <form action="/uploader/" method="POST"
                                        enctype="multipart/form-data" id = 'form'>
                                        
                                    </form>
                                </div>

                            </div>
                            <div class="update-info">
                                {%if id%}
                                <div class="id" id="id">ID: {{id}}</div>
                                {%else%}
                                <div class="id" id="id">ID: Chưa khởi tạo</div>
                                {%endif%}
                                <div class="name-object"><label for="name">Họ và tên: &nbsp;</label>
                                    {% if name %}
                                    <input type="text" name="name" id="name" value="{{name}}">
{% else %}
<input type="text" name="name" id="name">
{% endif %}
                                    <!-- <input type="text" name="name" id="name"> -->
                                </div>
                                <div class="dob-object"><label for="dob">Ngày sinh: &nbsp;</label>
                                    <input type="text" name="dob" id="dob">
                                </div>
                                {% if info %}
                                <textarea name="Text1" cols="40" rows="5" id="info" value="">{{info}}</textarea>
{% else %}
<textarea name="Text1" cols="40" rows="5" id="info"></textarea>
{% endif %}
                                <!-- <textarea name="Text1" cols="40" rows="5" id="info"></textarea> -->
                            </div>
                        </div>
                        <div class="button-area">
                            <button onclick="addPerson()">Chỉnh sửa</button>
                            <button>Trở lại</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </main>

    <script>
        function addPerson() {
            var data = {
                name: document.getElementById('name').value,
                info: document.getElementById('info').value
            }
            fetch('/add-person', {
                method: 'POST',
                mode: 'cors',
                cache: 'no-cache',
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'

                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer',
                body: JSON.stringify(data)

            }).then(data => data.json()).then(data => { if (confirm(data.message)) { document.getElementById('id').innerText = 'ID: ' + data.id;
            parse = Range.prototype.createContextualFragment.bind(document.createRange());
            var code_html = `<form action="/uploader/`+data.id+`" method="POST"
                                        enctype="multipart/form-data" id = 'form'>
                                        <input type="file" name="file[]" accept="image/png, image/gif, image/jpeg" multiple=""/>
                                        <input type="submit"/>
                                    </form>`
            document.getElementById('form').replaceWith(parse(code_html))
        } });
        }
    </script>
    <script src="/static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/dist/js/all.min.js"></script>
</body>
<footer>
    <div class="name-team">NHÓM PHÁT TRIỂN PHẦN MỀM HỌC VIỆN KỸ THUẬT QUÂN SỰ</div>
    <div class="address-team">Địa chỉ: Số 236 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội * Tel: +8443423423
    </div>
    <div class="email-leader">Email: haihongphan@mta.edu.vn</div>
</footer>

</html>