<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>

    <link href="./static/dist/css/fontawesome.min.css" rel="stylesheet" />
    <link href="./static/dist/css/custom-2.css?v=1" rel="stylesheet" />
</head>
<header>
    <div class="icon-name"><img src="./static/image/cctv.png" alt="" height="50%" />
        <div>HỆ THỐNG <br> NHẬN DIỆN ĐỐI TƯỢNG</div>
    </div>
    <nav><span><a href="./index">TRANG CHỦ</a></span><span class="active"><a href="./object">QUẢN LÝ ĐỐI TƯỢNG</a></span><span ><a href="./camera">QUẢN LÝ CAMERA</a></span></nav>
</header>

<body>


    <main>
        <div class="container">
            <div class="title-page">QUẢN LÝ ĐỐI TƯỢNG</div>
            <div class="time">14:11:12 - 14/12/2022</div>
            <div class="row-p">
                <div class="row">
                    <div class="list-object-manage">
                        <div class="finding-area">
                            <div>Nội dung tìm kiếm &nbsp;</div>   
                            <input type="text"></input>
                        </div>
                        <div class="filter-area">

                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>

                            <select name="cars" id="cars">
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                            <button>Tìm kiếm</button>
                        </div>

                        <div class="result-area">
                            <div class="table-header">
                                <div class="header-img">Ảnh</div>
                                <div class="header-general-infor">Thông tin chung</div>
                                <div class="header-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                            </div>
                            <div class="container-table">
                                <div class="table-result">
                                <div class="result-box">
                                    <div class="result-img"><img src="./static/image/jisoo.png" alt="" /></div>
                                    <div class="result-general-info">
                                        <div class="result-name">Phạm Thanh Vi</div>
                                        <div>ID: 29320312</div>
                                        <div>Ngày sinh: 14/12/2000</div>
                                    </div>
                                    <div class="result-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                                </div>
                                <div class="result-box">
                                    <div class="result-img"><img src="./static/image/jisoo.png" alt="" /></div>
                                    <div class="result-general-info">
                                        <div class="result-name">Phạm Thanh Vi</div>
                                        <div>ID: 29320312</div>
                                        <div>Ngày sinh: 14/12/2000</div>
                                    </div>
                                    <div class="result-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                                </div>
                                <div class="result-box">
                                    <div class="result-img"><img src="./static/image/jisoo.png" alt="" /></div>
                                    <div class="result-general-info">
                                        <div class="result-name">Phạm Thanh Vi</div>
                                        <div>ID: 29320312</div>
                                        <div>Ngày sinh: 14/12/2000</div>
                                    </div>
                                    <div class="result-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                                </div>
                                <div class="result-box">
                                    <div class="result-img"><img src="./static/image/jisoo.png" alt="" /></div>
                                    <div class="result-general-info">
                                        <div class="result-name">Phạm Thanh Vi</div>
                                        <div>ID: 29320312</div>
                                        <div>Ngày sinh: 14/12/2000</div>
                                    </div>
                                    <div class="result-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                                </div>
                                <div class="result-box">
                                    <div class="result-img"><img src="./static/image/jisoo.png" alt="" /></div>
                                    <div class="result-general-info">
                                        <div class="result-name">Phạm Thanh Vi</div>
                                        <div>ID: 29320312</div>
                                        <div>Ngày sinh: 14/12/2000</div>
                                    </div>
                                    <div class="result-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                                </div>
                                <div class="result-box">
                                    <div class="result-img"><img src="./static/image/jisoo.png" alt="" /></div>
                                    <div class="result-general-info">
                                        <div class="result-name">Phạm Thanh Vi</div>
                                        <div>ID: 29320312</div>
                                        <div>Ngày sinh: 14/12/2000</div>
                                    </div>
                                    <div class="result-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                                </div>
                                <div class="result-box">
                                    <div class="result-img"><img src="./static/image/jisoo.png" alt="" /></div>
                                    <div class="result-general-info">
                                        <div class="result-name">Phạm Thanh Vi</div>
                                        <div>ID: 29320312</div>
                                        <div>Ngày sinh: 14/12/2000</div>
                                    </div>
                                    <div class="result-checkbox"><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></div>
                                </div>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="notification-area">
                        <div class="noti-de-child">
                            <div class="title-noti-detect">
                                <div><i class="fa fa-info-circle"></i></div>
                                <div>Chi tiết đối tượng</div>
                            </div>
                        </div>
                        <div class="object-detail">

                            <div class="combo-2">
                                <div class="object-img">
                                    <img src="./static/image/jisoo.png" alt="" />
                                </div>

                                <div class="general-info">
                                    <div class="name-infor">Phạm Thanh Vi</div>
                                    <div class="ID">ID: 293023423</div>
                                </div>
                            </div>
                            <div class="combo-3">
                                <div class="date-of-birth">Ngày sinh: 14/12/2000</div>
                                <div class="info-1">Địa chỉ: Bản Nguyên - Lâm Thao - Phú Thọ</div>
                                <div class="info-2">Địa chỉ: Sơn Dương - Lâm Thao - Phú Thọ</div>

                            </div>
                            <div class="combo-4">
                                <button>Sửa</button>
                                <button>Xóa</button>
                            </div>
                        </div>
                        <div class="cam-list-area">
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="card-noti-parent">
                                <div class="card-noti">
                                    <div class="card-info">
                                        <div class="time-lapse">14:11:12 - 14/12/2022</div>

                                        <div class="combo-1">
                                            <div class="score">0.87</div>
                                            <div class="cam-location">Cam 2 - P1</div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                        <button class="add-object">Thêm đối tượng</button>
                    </div>
                </div>
            </div>


        </div>
    </main>


    <script src="./static/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/dist/js/all.min.js"></script>
</body>
<footer>
    <div class="name-team">NHÓM PHÁT TRIỂN PHẦN MỀM HỌC VIỆN KỸ THUẬT QUÂN SỰ</div>
    <div class="address-team">Địa chỉ: Số 236 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội * Tel: +8443423423
    </div>
    <div class="email-leader">Email: haihongphan@mta.edu.vn</div>
</footer>

</html>